<!DOCTYPE html>

<html lang="en-us">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>
        <header>
            <% include ../../partials/header %>
        </header>

        <main>
            <h2>Semester Details</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                <tr>
                    <td><%= semester.semesterName %></td>
                    <td><%= dateFormat(semester.startDate, "UTC:m/d/yy")  %></td>
                    <td><%= dateFormat(semester.endDate, "UTC:m/d/yy") %></td>
                </tr>
            </table>
            <br>

            <a href="/semesters/update/<%= semester._id %>">Edit Semester</a><br>
            <a href="/semesters/delete/<%= semester._id %>">Delete Semester</a>
        </main>

        <footer>
            <% include ../../partials/footer %>
        </footer>
    </body>
</html>